<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.MemberMapper">

    <select id="findAll" resultType="member">
        SELECT member_no        AS member_account,
               member_password,
               member_name,
               gender           AS member_gender,
               age              AS member_age,
               NULL             AS member_height,
               NULL             AS member_weight,
               phone            AS member_phone,
               register_date    AS card_time,
               total_class_count AS card_class,
               remain_class_count AS card_next_class
        FROM member
    </select>

    <insert id="insertMember" parameterType="member">
        INSERT INTO member (member_no, member_password, member_name, gender, age,
                            phone, register_date, total_class_count, remain_class_count)
        VALUES (#{memberAccount}, #{memberPassword}, #{memberName}, #{memberGender}, #{memberAge},
                #{memberPhone}, #{cardTime}, #{cardClass}, #{cardNextClass})
    </insert>

    <update id="updateMemberByMemberAccount" parameterType="member">
        UPDATE member
        SET member_password   = #{memberPassword},
            member_name       = #{memberName},
            gender            = #{memberGender},
            age               = #{memberAge},
            phone             = #{memberPhone},
            total_class_count = #{cardClass},
            remain_class_count = #{cardNextClass}
        WHERE member_no = #{memberAccount}
    </update>

    <select id="selectByAccountAndPassword" resultType="member">
        SELECT member_no        AS member_account,
               member_password,
               member_name,
               gender           AS member_gender,
               age              AS member_age,
               NULL             AS member_height,
               NULL             AS member_weight,
               phone            AS member_phone,
               register_date    AS card_time,
               total_class_count AS card_class,
               remain_class_count AS card_next_class
        FROM member
        WHERE member_no = #{memberAccount}
          AND member_password = #{memberPassword}
    </select>

    <delete id="deleteByMemberAccount" parameterType="java.lang.String">
        DELETE FROM member
        WHERE member_no = #{memberAccount}
    </delete>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        SELECT count(*) FROM member
    </select>

    <select id="selectByMemberAccount" parameterType="java.lang.String" resultType="member">
        SELECT member_no        AS member_account,
               member_password,
               member_name,
               gender           AS member_gender,
               age              AS member_age,
               NULL             AS member_height,
               NULL             AS member_weight,
               phone            AS member_phone,
               register_date    AS card_time,
               total_class_count AS card_class,
               remain_class_count AS card_next_class
        FROM member
        WHERE member_no = #{memberAccount}
    </select>

    <select id="searchMembers" resultType="member">
        SELECT member_no        AS member_account,
               member_password,
               member_name,
               gender           AS member_gender,
               age              AS member_age,
               NULL             AS member_height,
               NULL             AS member_weight,
               phone            AS member_phone,
               register_date    AS card_time,
               total_class_count AS card_class,
               remain_class_count AS card_next_class
        FROM member
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    member_no LIKE CONCAT('%', #{keyword}, '%')
                    OR member_name LIKE CONCAT('%', #{keyword}, '%')
                    OR phone LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="gender != null and gender != ''">
                AND gender = #{gender}
            </if>
            <if test="minRemain != null">
                AND remain_class_count &gt;= #{minRemain}
            </if>
            <if test="maxRemain != null">
                AND remain_class_count &lt;= #{maxRemain}
            </if>
        </where>
        ORDER BY member_no ASC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectMaxNoByYear" resultType="java.lang.String">
        SELECT MAX(member_no)
        FROM member
        WHERE member_no LIKE CONCAT(#{yearPrefix}, '%')
    </select>

    <select id="countSearchMembers" resultType="int">
        SELECT COUNT(*) FROM member
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    member_no LIKE CONCAT('%', #{keyword}, '%')
                    OR member_name LIKE CONCAT('%', #{keyword}, '%')
                    OR phone LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="gender != null and gender != ''">
                AND gender = #{gender}
            </if>
            <if test="minRemain != null">
                AND remain_class_count &gt;= #{minRemain}
            </if>
            <if test="maxRemain != null">
                AND remain_class_count &lt;= #{maxRemain}
            </if>
        </where>
    </select>

    <update id="updateRemainClassCount">
        UPDATE member
        SET remain_class_count = remain_class_count + #{delta}
        WHERE member_no = #{memberAccount}
          AND remain_class_count + #{delta} &gt;= 0
    </update>

</mapper>
